# Heroku
export HEROKU_APP_NAME='boston-dsa-event-sync'
export HEROKU_APP_REGION='us'
export HEROKU_API_KEY='<heroku-api-key>'
export HEROKU_STACK='heroku-16'

# facebook
export FACEBOOK_APP_ID='<app-id>'
export FACEBOOK_APP_SECRET='<app-secret>'
export FACEBOOK_PAGE_NAME='<page-name>'

# Google
export GOOGLE_ACCOUNT_TYPE='service_account'
export GOOGLE_CALENDAR_ID='<cal-id>'
export GOOGLE_CLIENT_EMAIL='<client-email>'
export GOOGLE_CLIENT_ID='<client-id>'
export GOOGLE_PRIVATE_KEY='<private-key>'
export GOOGLE_PRIVATE_KEY_ID='<private-key-id>'
export GOOGLE_SCOPE='https://www.googleapis.com/auth/calendar'

# The Events Calendar
export TRIBE_ENDPOINT='https://www.bostondsa.org/wp-json/tribe/events/v1'

# WordPress
export WORDPRESS_ENDPOINT='http://www.bostondsa.org/xmlrpc.php'
export WORDPRESS_USERNAME='<wordpress-user>'
export WORDPRESS_APP_PASSWORD='<wordpress-app-password>'

# BostonDSA
export WP_CUSTOM_FIELD_BODY='View our list of events and get involved.'
export WP_CUSTOM_FIELD_HEADER='Want to check out other events?'
export WP_CUSTOM_FIELD_LINK_TEXT='View Events'
export WP_CUSTOM_FIELD_LINK_URL='/events'

# Dead Man's Snitch (optional)
export DEADMANSSNITCH_URL='<dead-mans-snitch-url>'

# Terraform (optional)
export TF_VAR_HEROKU_API_KEY=${HEROKU_API_KEY}
export TF_VAR_HEROKU_APP_NAME=${HEROKU_APP_NAME}
export TF_VAR_HEROKU_APP_REGION=${HEROKU_APP_REGION}
export TF_VAR_FACEBOOK_APP_ID=${FACEBOOK_APP_ID}
export TF_VAR_FACEBOOK_APP_SECRET=${FACEBOOK_APP_SECRET}
export TF_VAR_GOOGLE_ACCOUNT_TYPE=${GOOGLE_ACCOUNT_TYPE}
export TF_VAR_GOOGLE_CALENDAR_ID=${GOOGLE_CALENDAR_ID}
export TF_VAR_GOOGLE_CLIENT_EMAIL=${GOOGLE_CLIENT_EMAIL}
export TF_VAR_GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
export TF_VAR_GOOGLE_PRIVATE_KEY=${GOOGLE_PRIVATE_KEY}
export TF_VAR_GOOGLE_PRIVATE_KEY_ID=${GOOGLE_PRIVATE_KEY_ID}
export TF_VAR_GOOGLE_SCOPE=${GOOGLE_SCOPE}
export TF_VAR_TRIBE_ENDPOINT=${TRIBE_ENDPOINT}
export TF_VAR_WORDPRESS_ENDPOINT=${WORDPRESS_ENDPOINT}
export TF_VAR_WORDPRESS_USERNAME=${WORDPRESS_USERNAME}
export TF_VAR_WORDPRESS_APP_PASSWORD=${WORDPRESS_APP_PASSWORD}
export TF_VAR_WP_CUSTOM_FIELD_BODY=${WP_CUSTOM_FIELD_BODY}
export TF_VAR_WP_CUSTOM_FIELD_HEADER=${WP_CUSTOM_FIELD_HEADER}
export TF_VAR_WP_CUSTOM_FIELD_LINK_TEXT=${WP_CUSTOM_FIELD_LINK_TEXT}
export TF_VAR_WP_CUSTOM_FIELD_LINK_URL=${WP_CUSTOM_FIELD_LINK_URL}
export TF_VAR_DEADMANSSNITCH_URL=${DEADMANSSNITCH_URL}
