# Heroku
export HEROKU_API_KEY='<heroku-api-key>'

# facebook
export FACEBOOK_APP_ID='<app-id>'
export FACEBOOK_APP_SECRET='<app-secret>'

# Google
export GOOGLE_ACCOUNT_TYPE='service_account'
export GOOGLE_CALENDAR_ID='<cal-id>'
export GOOGLE_CLIENT_EMAIL='<client-email>'
export GOOGLE_CLIENT_ID='<client-id>'
export GOOGLE_PRIVATE_KEY='<private-key>'
export GOOGLE_PRIVATE_KEY_ID='<private-key-id>'
export GOOGLE_SCOPE='https://www.googleapis.com/auth/calendar'

# The Events Calendar
export TRIBE_ENDPOINT='https://www.bostondsa.org/wp-json/tribe/events/v1'

# WordPress
export WORDPRESS_ENDPOINT='http://www.bostondsa.org/xmlrpc.php'
export WORDPRESS_USERNAME='<wordpress-user>'
export WORDPRESS_APP_PASSWORD='<wordpress-app-password>'

# BostonDSA
export WP_CUSTOM_FIELD_BODY='View our list of events and get involved.'
export WP_CUSTOM_FIELD_HEADER='Want to check out other events?'
export WP_CUSTOM_FIELD_LINK_TEXT='View Events'
export WP_CUSTOM_FIELD_LINK_URL='/events'

# Dead Man's Snitch (optional)
export DEADMANSSNITCH_URL='<dead-mans-snitch-url>'

# Terraform (optional)
export TF_VAR_heroku_api_key=${HEROKU_API_KEY}
export TF_VAR_facebook_app_id=${FACEBOOK_APP_ID}
export TF_VAR_facebook_app_secret=${FACEBOOK_APP_SECRET}
export TF_VAR_google_account_type=${GOOGLE_ACCOUNT_TYPE}
export TF_VAR_google_calendar_id=${GOOGLE_CALENDAR_ID}
export TF_VAR_google_client_email=${GOOGLE_CLIENT_EMAIL}
export TF_VAR_google_client_id=${GOOGLE_CLIENT_ID}
export TF_VAR_google_private_key=${GOOGLE_PRIVATE_KEY}
export TF_VAR_google_private_key_id=${GOOGLE_PRIVATE_KEY_ID}
export TF_VAR_google_scope=${GOOGLE_SCOPE}
export TF_VAR_tribe_endpoint=${TRIBE_ENDPOINT}
export TF_VAR_wordpress_endpoint=${WORDPRESS_ENDPOINT}
export TF_VAR_wordpress_username=${WORDPRESS_USERNAME}
export TF_VAR_wordpress_app_password=${WORDPRESS_APP_PASSWORD}
export TF_VAR_wp_custom_field_body=${WP_CUSTOM_FIELD_BODY}
export TF_VAR_wp_custom_field_header=${WP_CUSTOM_FIELD_HEADER}
export TF_VAR_wp_custom_field_link_text=${WP_CUSTOM_FIELD_LINK_TEXT}
export TF_VAR_wp_custom_field_link_url=${WP_CUSTOM_FIELD_LINK_URL}
export TF_VAR_deadmanssnitch_url=${DEADMANSSNITCH_URL}
