[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

click = "==6.7.0"
fest = {extras = ["google", "wordpress"], version = "==0.6.1"}


[dev-packages]

ipython = "*"
