[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
pyactionnetwork = "*"
pyairtable = "*"
requests = "*"

[dev-packages]
ipdb = "*"
ipython = "*"
pytest = "*"

[requires]
python_version = "3.11"

[packages.fest]
git = "https://github.com/BostonDSA/fest.git"
editable = true
